body {
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.Name-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 500px;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: orange;
    padding: 10px 40px;
    box-shadow: 5px;
    border-radius: 5px;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dreem-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}